# # This file wont do us much good in this location, make sure you change the path as directed to continue!

# name: create release

# on:
#   create

# jobs:
#   build-pre-release:
#     if: startsWith(github.ref, 'refs/heads/release/pre-')
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v1
#       - name: configure git
#         run: |
#           git config --local user.email "github-actions[bot]@users.noreply.github.com"
#           git config --local user.name "github-actions[bot]"
#       - name: update version without commit/tag
#         run: npm version ${{env.RELEASE_VERSION}} --no-git-tag-version
#         env:
#           RELEASE_VERSION: ${GITHUB_REF##*release/pre-}-0
#       - name: commit version change
#         run: |
#           git add .
#           git commit -m "${{env.RELEASE_VERSION}}"
#         env:
#           RELEASE_VERSION: ${GITHUB_REF##*release/pre-}-0
#       - name: push changes
#         uses: ad-m/github-push-action@master
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           branch: ${{ github.ref }}
#           force: true
#           tags: false
  
#   build-release:
#     if: startsWith(github.ref, 'refs/heads/release/') && !startsWith(github.ref, 'refs/heads/release/pre-')
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v1
#       - name: Configure Git
#         run: |
#           git config --local user.email "github-actions[bot]@users.noreply.github.com"
#           git config --local user.name "github-actions[bot]"
#       - name: update version
#         run: npm version ${{env.RELEASE_VERSION}}
#         env:
#           RELEASE_VERSION: ${GITHUB_REF##*release/}
#       - name: Push changes
#         uses: ad-m/github-push-action@master
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           branch: ${{ github.ref }}
#           force: true
#           tags: true
#       # - name: 'change version'
#       #   uses: reedyuk/npm-version@1.0.2
#       #   with:
#       #     version: ${{env.RELEASE_VERSION}}
#           # package: 'subproject-directory/'
#       # - name: update version
#       #   run: npm version $RELEASE_VERSION
#       #   env:
#       #     RELEASE_VERSION: ${GITHUB_REF##*release/}+0
#       # - name: status
#       #   run: git status
#       # - name: commit
#       #   run: |
#       #     git add .
#       #     git commit -m "${{env.RELEASE_VERSION}}"
#       #     git tag ${{env.RELEASE_VERSION}}
#       #   env:
#       #     RELEASE_VERSION: ${GITHUB_REF##*release/}+0
#       # - name: Push changes
#       #   uses: ad-m/github-push-action@master
#       #   with:
#       #     github_token: ${{ secrets.GITHUB_TOKEN }}
#       #     branch: ${{ github.ref }}
#       #     force: true
#       #     tags: true
#       # - name: Push changes
#       #   uses: ad-m/github-push-action@master
#       #   with:
#       #     github_token: ${{ secrets.GITHUB_TOKEN }}
#       #     branch: ${{ github.ref }}
#       #     force: true
#       #     tags: true
#       # - uses: actions/checkout@v1
#       # - name: update version
#       #   run: npm version ${{env.RELEASE_VERSION}}
#       # - name: npm install and build webpack
#       #   run: |
#       #     npm install
#       #     npm run build
#       # - uses: actions/upload-artifact@master
#       #   with:
#       #     name: webpack artifacts
#       #     path: public/
#   # test:
#   #   runs-on: ubuntu-latest
#   #   needs: build
#   #   strategy:
#   #     matrix:
#   #       os: [ubuntu-lastest]
#   #       node-version: [12.x, 14.x]

#   #   steps:
#   #     - uses: actions/checkout@v1
#   #     - name: Use Node.js ${{ matrix.node-version }}
#   #       uses: actions/setup-node@v1
#   #       with:
#   #         node-version: ${{ matrix.node-version }}
#   #     - uses: actions/download-artifact@master
#   #       with:
#   #         name: webpack artifacts
#   #         path: public
#   #     - name: npm install, and test
#   #       run: |
#   #         npm install
#   #         npm test
#   #       env:
#   #         CI: true
    
#   # Build-and-Push-Docker-Image:
#   #   runs-on: ubuntu-latest
#   #   needs: test
#   #   name: Docker Build, Tag, Push

#   #   steps:
#   #   - name: Checkout
#   #     uses: actions/checkout@v1
#   #   - name: Download built artifact
#   #     uses: actions/download-artifact@main
#   #     with:
#   #       name: webpack artifacts
#   #       path: public
#   #   - name: Use Node.js v14
#   #     uses: actions/setup-node@v1
#   #     with:
#   #       node-version: '14'
#   #       registry-url: https://npm.pkg.github.com/
#   #   - name: Commit files
#   #     run: |
#   #       git config --local user.email "github-actions[bot]@users.noreply.github.com"
#   #       git config --local user.name "github-actions[bot]"
#   #   - name: update the version
#   #     run: npm version patch
#     # - name: 'change version'
#     #   uses: reedyuk/npm-version@1.0.2
#     #   with:
#     #     version: '1.0.1'
#     # - uses: stefanzweifel/git-auto-commit-action@v4
#     #   with:
#     #     # Optional but recommended
#     #     # Defaults to "Apply automatic changes"
#     #     commit_message: Update package version

#     #     # Optional options appended to `git-commit`
#     #     # See https://git-scm.com/docs/git-commit for a list of available options
#     #     commit_options: '--no-verify --signoff'

#     #     # Optional glob pattern of files which should be added to the commit
#     #     # Defaults to all (.)
#     #     # See the `pathspec`-documentation for git
#     #     # - https://git-scm.com/docs/git-add#Documentation/git-add.txt-ltpathspecgt82308203
#     #     # - https://git-scm.com/docs/gitglossary#Documentation/gitglossary.txt-aiddefpathspecapathspec
#     #     file_pattern: package.json

#     #     # Optional tag message 
#     #     # Action will create and push a new tag to the remote repository and the defined branch
#     #     tagging_message: 'v1.0.1'

#     #     # Optional options appended to `git-push`
#     #     # See git-push documentation for details: https://git-scm.com/docs/git-push#_options
#     #     push_options: '--force'
        
#     #     # Optional: Disable dirty check and always try to create a commit and push
#     #     skip_dirty_check: true    
        
#     #     # Optional: Skip internal call to `git fetch`
#     #     skip_fetch: true
#     # - run: npm publish
#     #   env:
#     #     NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
#     # - name: Push changes
#     #   uses: ad-m/github-push-action@master
#     #   with:
#     #     github_token: ${{ secrets.GITHUB_TOKEN }}
#     #     branch: ${{ github.ref }}
#     #     force: true
#     #     tags: true
